<!-- app/layouts/app.jl.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Genie :: The highly productive Julia web framework</title>
    <link href="/css/genie/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/css/genie/style.css" rel="stylesheet">-->
    <link href="/css/genie/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/application.css" >
  </head>
  <body>
    <%
      @yield
    %>
    <script src="/js/genie/jquery.min.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>